<div class="container">
  <h1>Dropdowns</h1>

  <h5>Standard Dropdown</h5>
  <section class="vf-dropdown-wrapper">
    <div class="vf-dropdown__standard" id="vf_dropdown_standard" data-control="vf-dropdown-data">
      <label class="vf-dropdown-label" id="vf_label_standard">Select option</label>
      <div class="vf-dropdown-list">
        <div class="vf-dropdown-list-item">
          <label class="vf-dropdown-option"> Winter </label>
        </div>
        <div class="vf-dropdown-list-item">
          <label class="vf-dropdown-option"> Spring </label>
        </div>
        <div class="vf-dropdown-list-item">
          <label class="vf-dropdown-option"> Summer </label>
        </div>
        <div class="vf-dropdown-list-item">
          <label class="vf-dropdown-option"> Autumn </label>
        </div>
      </div>
    </div>
  </section>

  <hr />

  <h5>Semantic Dropdown</h5>
  <section class="vf-dropdown-wrapper">
    <select class="vf-dropdown__semantic" data-control="vf-dropdown-data">
      <option selected>
        <label class="vf-dropdown-label">Select option</label>
      </option>
      <section>
        <article>
          <option value="Winter">
            <label> Winter </label>
          </option>
        </article>
        <article>
          <option value="Spring">
            <label> Spring </label>
          </option>
        </article>
        <article>
          <option value="Summer">
            <label> Summer </label>
          </option>
        </article>
        <article>
          <option value="Autumn">
            <label> Autumn </label>
          </option>
        </article>
      </section>
    </select>
  </section>

  <hr />

  <h5>Test</h5>

  <select class="vf-dropdown__semantic" data-control="vf-dropdown-data">
    <option selected>
      <label class="vf-dropdown-label">Select option</label>
    </option>
    <option value="Winter">
      <label> Winter </label>
    </option>
    <option value="Spring">
      <label> Spring </label>
    </option>
    <section>
      <article>
        <option value="Winter">
          <label> Winter </label>
        </option>
      </article>
      <article>
        <option value="Spring">
          <label> Spring </label>
        </option>
      </article>
      <article>
        <option value="Summer">
          <label> Summer </label>
        </option>
      </article>
      <article>
        <option value="Autumn">
          <label> Autumn </label>
        </option>
      </article>
    </section>
  </select>

  <hr />

  <h5>Dropdown with checkboxes</h5>
  <section class="vf-dropdown-wrapper">
    <div class="vf-dropdown__checkbox" id="vf_dropdown_checkbox">
      <label class="vf-dropdown-label" id="vf_label_checkbox">Select option</label>
      <div class="vf-dropdown-list__checkbox">
        <div class="vf-dropdown-list-item--with-checkbox">
          <input type="checkbox" class="vf-dropdown__checkbox-input" name="vf-dropdown-group" id="vf-dropdown__checkbox"
            value="Winter" />
          <label class="vf-dropdown-option"> Winter </label>
        </div>
        <div class="vf-dropdown-list-item--with-checkbox">
          <input type="checkbox" class="vf-dropdown__checkbox-input" name="vf-dropdown-group" id="vf-dropdown__checkbox"
            value="Spring" />
          <label class="vf-dropdown-option"> Spring </label>
        </div>
        <div class="vf-dropdown-list-item--with-checkbox">
          <input type="checkbox" class="vf-dropdown__checkbox-input" name="vf-dropdown-group" id="vf-dropdown__checkbox"
            value="Summer" />
          <label class="vf-dropdown-option"> Summer </label>
        </div>
        <div class="vf-dropdown-list-item--with-checkbox">
          <input type="checkbox" class="vf-dropdown__checkbox-input" name="vf-dropdown-group" id="vf-dropdown__checkbox"
            value="Autumn" />
          <label class="vf-dropdown-option"> Autumn </label>
        </div>
      </div>
    </div>
  </section>
</div>
